@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model XiePinyin.Site.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>写拼音</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bundle.css" asp-append-version="true">
</head>
<body>
  
  <div class="doc">
  </div>


  <script src="/bundle.js" asp-append-version="true"></script>
</body>
</html>
